<link rel="stylesheet" href="../../../assets/css/main-future.css" />

<!--Navbar-->
<nav id="nav">
  <img class="logo" src="assets/images/logo.png" />
  <div fxShow="true" fxHide.lt-md="true">
    <ul class="container">
      <li>
        <a pageScroll [routerLink]="userId ? ['/home', userId] : ['/home']" href="#home">Home</a>
      </li>
      <li>
        <a pageScroll [routerLink]="userId ? ['/home', userId] : ['/home']" href="#social">Social Plans</a>
      </li>
      <li>
        <a pageScroll [routerLink]="userId ? ['/home', userId] : ['/home']" href="#guides">Recent Plans</a>
      </li>
      <li>
        <a pageScroll [routerLink]="['/home', userId]" href="#wantguide" *ngIf="userId">Guides</a>
      </li>
      <li>
        <a pageScroll [routerLink]="userId ? ['/home', userId] : ['/home']" href="#contact">I want to guide</a>
      </li>
      <li>
        <a pageScroll [routerLink]="userId ? ['/home', userId] : ['/home']" href="#contacto">Contact</a>
      </li>
      <li>
        <a *ngIf="!userId" [routerLink]="['/login']">Login or Signup</a>
        <a *ngIf="userId" (click)="profile.toggle()">Me</a>     
      </li>
    </ul>   
  </div>

  <mat-drawer #profile class="another-sidenav" mode="side" fxHide.lt-md="true">
    <header class="app-drawer-header primary-background">
        <img *ngIf="userObject" src="{{userObject.photo}}" class="app-avatar">
        <span *ngIf="userObject" class="color-white">{{userObject.name}}</span>
        <span *ngIf="userObject" class="color-black">{{userObject.rol}}</span>
        <span *ngIf="userObject" class="color-black">Lv4</span>
        <span *ngIf="userObject" class="credit">Credit: $0.00</span>
      </header>
    <ul class="theul">
      <li>
        <a href="javascript:void(0)" [routerLink]="['/profile', userId]">See Profile</a>
      </li>
      <li>
        <a *ngIf="userId" (click)="signout()">Sign Out</a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="['/profile', userId]">See Activities</a>
      </li>
    </ul>
  </mat-drawer>
   
  <div fxShow="true" fxHide.gt-sm="true" class="example">    
    <mat-drawer-container class="example-container" autosize>    
      <div class="example-sidenav-content">
        <a (click)="drawer.toggle()">
          <mat-icon aria-label="Menu icon">menu</mat-icon>
        </a>
      </div>
    
    </mat-drawer-container>
  </div>

</nav>

<mat-drawer #drawer class="example-sidenav" ngClass.sm="example-sidenav2" mode="side" fxHide.gt-sm="true">
<ul class="container">
  <li>
    <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#home">Home</a>
  </li>
  <li>
    <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#social">Social Plans</a>
  </li>
  <li>
    <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#guides">Recent Plans</a>
  </li>
  <li>
    <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#wantguide" *ngIf="userId">Guides</a>
  </li>
  <li>
    <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#contact">I want to guide</a>
  </li>
  <li>
    <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#contacto">Contact</a>
  </li>
  <li>
    <a *ngIf="!userId" class="aLink" [routerLink]="['/login']">Login or Signup</a>
    <a *ngIf="userId" class="aLink" (click)="signout()">Sign Out</a>
  </li>
  <li>
    <a *ngIf="userId" class="aLink" [routerLink]="['/profile', userId]">See Profile</a>
  </li>
</ul>
</mat-drawer>

<!-- Wrapper -->
<div id="wrapper">
  <!-- Menu -->
  <section id="menu">

  </section>

  <!-- Main -->
  <div id="main">
    <!-- Post -->
    <article class="post">
      <header>
        <div class="title">
          <h2>
            <a href="javascript:void(0)">{{plan?.title}}</a>
          </h2>
          <p>{{plan?.descriptionShort}}</p>
        </div>
        <div class="meta">
          <time class="published" datetime="2015-11-01">{{plan?.date}}
            <br>
            <span>{{plan?.startingTime}} - {{plan?.endingTime}}</span>
          </time> 
          <a href="javascript:void(0)" class="author" matTooltip="{{plan?.guidemail}} / {{plan?.guidewhy}}">
            <span class="name">{{plan?.guide}} </span>
            <img src="{{plan?.guidepic}}" alt="" />
          </a>
        </div>
      </header>
      <a class="image featured">
        <img src="{{plan?.image}}" alt="" />
      </a>
      <p>{{plan?.descriptionLong}}</p>

      <div class="info-right">
        <p class="rate" *ngIf=" plan?.rate">
          <span *ngFor="let star of plan?.rate?.stars" class="fa fa-star {{star}}"></span>
          <span class="rate">({{plan?.rate?.average}})</span>
          <span class="rate">
            <i class="fa fa-user" aria-hidden="true"></i>+{{plan?.rate?.numVotes}}</span>
        </p>

        <p>
          <span class="fee infoTitle">Administrative fee: </span>${{plan?.fee}}
        </p>

        <p>
          <span class="costs infoTitle">Extra costs suggested: </span>${{plan?.cost}}
        </p>

        <p>
          <span class="adress infoTitle">Adress: </span>{{plan?.adress}}
        </p>

        <p>
          <span class="date infoTitle">Date: </span>
          <time class="published" datetime="2015-11-01">{{plan?.date}}
            <span>{{plan?.startingTime}} - {{plan?.endingTime}}</span>
          </time>
        </p>

        <p>
          <span class="date infoTitle">Max Assistants: </span>
          <span>{{plan?.maxAsisstant}}</span>
        </p>

      </div>

      <footer>
        <ul class="stats">
          <li>
            <a href="#">{{plan?.category}}</a>
          </li>
          <li>
            <a *ngIf="userId" id="link" (click)="onLikeClick(plan?.id, userId)" class="icon fa-thumbs-up">{{plan?.likes? plan?.likes.likesCount: 0}}</a>
            <a *ngIf="!userId" href="javascript:void(0)" class="icon fa-thumbs-up">{{plan?.likes? plan?.likes.likesCount: 0}}</a>
          </li>
          <li>
            <a (click)="onLoveClick(plan?.id)" class="icon fa-heart">{{plan?.wouldLove ? plan?.wouldLove:0 }}</a>
          </li>
          <li>
            <a (click)="wantCommentClick(plan?.id, plan?.date)" class="icon fa-comment">{{plan?.comments? plan?.comments.commentCount: 0}}</a>
          </li>
        </ul>
      </footer>
    </article>

    <!-- Comments -->
    <ul class="comment-section" *ngIf="comentarioOn">
      <li class="comment user-comment" *ngFor="let c of losComentarios">
          <div class="info">
              <a href="#">{{c.persona}}</a>
              <span>{{c.tiempo}}</span>
          </div>
          <a class="avatar" href="#">
            <img src="{{c.avatar}}" width="35" alt="Profile Avatar" title="Anie Silverston" />
          </a>
          <p>{{c.comment}}</p>
      </li>

      <li class="write-new">

          <form action="#" method="post">
              <textarea placeholder="Write your comment here" name="comment" [(ngModel)]="comment"></textarea>
              <div>
                  <button class="cmtbutton" type="submit" (click)="MakeComment(plan?.id)">Submit</button>
              </div>
          </form>

      </li>
    </ul>

    <!-- Pictures -->
    <article class="post" *ngIf ="photosON">
      <header>
        <div class="title" id="pictitle">
          <h2>
            <a href="#">Check out the pics we took </a>
            <label  class="uploadfile" for="file_input_file"><mat-icon class="upicon" aria-label="file upload">publish</mat-icon></label>
            <input id="file_input_file" type="file" (change)="detectFiles($event)"/>
          </h2>
          <!-- p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p -->
        </div>
        <!-- <div class="meta">
          <time class="published" datetime="2015-10-25">October 25, 2015</time>
          <a href="#" class="author">
            <span class="name">Jane Doe</span>
            <img src="../../../assets/images/future/avatar.jpg" alt="" />
          </a>
        </div> -->
      </header>
      <div class="image" id="planim" *ngIf ="plan?.pictures">
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let p of picturesofplan">
            <img src="{{p.photo}}" alt="">
          </div>
        </ngx-slick>
      </div>

    </article>
    <!-- Pagination -->
  </div>

  <!-- Sidebar -->
  <section id="sidebar">
    <!-- Intro -->
    <section id="intro">
      <header>
        <h2 class="title">Social Plans</h2>
        <p class="byline">By <a href="#home" [routerLink]="userId ? ['/home', userId] : ['/home']">Join Up</a></p>
      </header>
    </section>
    <!-- Posts List -->
    <section id="listofplans">
      <ul class="posts">
        <h3>Future Plans</h3>
        <li *ngFor="let p of futureplans">
          <article>
            <header>
              <h3>
                <a (click)="onLinkClick(p?.id, userId)" href="javascript:void(0)">{{p?.title}}</a>
              </h3>
              <time class="published" datetime="2015-10-20">{{p?.date}}</time>
            </header>
            <a href="javascript:void(0)" class="image">
              <img src="{{p?.image}}" alt="" />
            </a>
          </article>
        </li>
      </ul>
      <ul class="posts">
          <h3>Recurrent Plans</h3>
          <li *ngFor="let p of recurrentplans">
            <article>
              <header>
                <h3>
                  <a (click)="onLinkClick(p?.id, userId)" href="javascript:void(0)">{{p?.title}}</a>
                </h3>
                <time class="published" datetime="2015-10-20">{{p?.date}}</time>
              </header>
              <a href="javascript:void(0)" class="image">
                <img src="{{p?.image}}" alt="" />
              </a>
            </article>
          </li>
      </ul>
      <ul class="posts">
          <h3>Past Plans</h3>
          <li *ngFor="let pl of pastplans">
            <article>
              <header>
                <h3>
                  <a (click)="onLinkClick(pl?.id, userId)" routerLinkActive="active">{{pl?.title}}</a>
                </h3>
                <time class="published" datetime="2015-10-20">{{pl?.date}}</time>
              </header>
              <a href="javascript:void(0)" class="image">
                <img src="{{pl?.image}}" alt="" />
              </a>
            </article>
          </li>
      </ul>
    </section>
    <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li>
          <a href="#" class="fa-twitter">
            <span class="label">Twitter</span>
          </a>
        </li>
        <li>
          <a href="#" class="fa-facebook">
            <span class="label">Facebook</span>
          </a>
        </li>
        <li>
          <a href="#" class="fa-instagram">
            <span class="label">Instagram</span>
          </a>
        </li>
        <li>
          <a href="#" class="fa-rss">
            <span class="label">RSS</span>
          </a>
        </li>
        <li>
          <a href="#" class="fa-envelope">
            <span class="label">Email</span>
          </a>
        </li>
      </ul>
      <p class="copyright">&copy; Untitled. Design:
        <a href="http://html5up.net">HTML5 UP</a>. Images:
        <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>
  </section>

</div>




<!-- Scripts -->
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/skel.min.js"></script>
<script src="../../../assets/js/util.js"></script>
<!--[if lte IE 8]><script src="./assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../../../assets/js/main.js"></script>