#nav {
    display: block;
    position: fixed;
    min-height: 10px;
}

/* resize images */
nav img {
    margin-top: 0.8%;
    width: 50px;
}

.container {
    margin-top: 0.8%;
}

.wrapper style1 first #home{
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}