#nav {
    display: inline-block;
    position: fixed;
    min-height: 9px;
}

/* resize images */
nav img {
    margin-top: 0.8%;
    width: 50px;
}

.container {
    margin-top: 0.8%;
}

.wrapper style1 first #home{
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}

.example-container {
    background: #282828;
}

.example-sidenav-content {
  height: 100%;
  align-items: right;
  justify-content: right;
  margin-top: 10px;
  width: 30%;
  padding-left: 70%;
}

.mat-icon-button:active {
    background-color:#303030;
}

.example-container.example-sidenav-content.button.mat-button-focus-overlay{
    background-color:#303030 !important;
}


.example-sidenav {
  padding: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}