<!-- Nav -->
<nav id="nav">
  <img class="logo" src="assets/images/logo.png" />
  <div fxShow="true" fxHide.lt-md="true">
    <ul class="container">
      <li>
        <a href="javascript:void(0)" [scrollTo]="'#home'">Home</a>
      </li>
      <li>
        <a href="javascript:void(0)" [scrollTo]="'#social'">Social Plans</a>
      </li>
      <li>
        <a href="javascript:void(0)" [scrollTo]="'#recent'">Recent Plans</a>
      </li>
      <li>
        <a href="javascript:void(0)"  [scrollTo]="'#wantguide'">I want to guide</a>
      </li>
      <li>
        <a href="javascript:void(0)" [scrollTo]="'#contact'">Contact</a>
      </li>
      <li>
        <a *ngIf="!userId" [routerLink]="['/login']">Login or Signup</a>
        <a *ngIf="userId" (click)="signout()">Sign Out</a>
      </li>
    </ul>   

  </div>

  <div fxShow="true" fxHide.gt-sm="true" class="example">    
    <mat-drawer-container class="example-container" autosize>    
      <div class="example-sidenav-content">
        <a (click)="drawer.toggle()">
          <mat-icon aria-label="Menu icon">menu</mat-icon>
        </a>
      </div>
    
    </mat-drawer-container>
  </div>

</nav>

<mat-drawer #drawer class="example-sidenav" mode="side" fxHide.gt-sm="true">
  <ul class="container">
    <li>
      <a class="aLink" href="javascript:void(0)" [scrollTo]="'#home'">Home</a>
    </li>
    <li>
      <a class="aLink" href="javascript:void(0)" [scrollTo]="'#social'">Social Plans</a>
    </li>
    <li>
      <a class="aLink" href="javascript:void(0)" [scrollTo]="'#recent'">Recent Plans</a>
    </li>
    <li>
      <a class="aLink" href="javascript:void(0)"  [scrollTo]="'#wantguide'">I want to guide</a>
    </li>
    <li>
      <a class="aLink" href="javascript:void(0)" [scrollTo]="'#contact'">Contact</a>
    </li>
    <li>
      <a *ngIf="!userId" class="aLink" [routerLink]="['/login']">Login or Signup</a>
      <a *ngIf="userId" class="aLink" (click)="signout()">Sign Out</a>
    </li>
  </ul>
</mat-drawer>

<!-- Home -->
<div id="home" class="wrapper style1 first" style="background: url(./assets/images/background.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
  <app-slider></app-slider>
</div>

<!-- Social -->
<div class="wrapper style2">
  <article id="social">
    <header>
      <h2>Our social Plans</h2>
      <p>Join our social plans</p>
    </header>
    <div class="container">

      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let p of planes" class="slide">
          <article class="box style2">
            <a href="javascript:void(0)" [routerLink]="['/social-detail', p.id]" class="image featured">
              <div class="img-wrapper">
                <img src="{{p.image}}" alt="" />
              </div>
            </a>
            <h3>
              <a  href="javascript:void(0)" [routerLink]="['/social-detail', p.id]">{{p.title}}</a>
            </h3>
            <p>{{p.descriptionShort}}</p>
          </article>
        </div>
      </ngx-slick>
    </div>

    <footer>
      <p>Want to learn more?</p>
      <a routerLink="/social" class="button big scrolly">See all Social Plans</a>
    </footer>
  </article>
</div>


<!-- Recent -->
<div class="wrapper style3">
  <article id="recent">
    <header>
      <h2>Here’s some stuff we made recently.</h2>
      <p>Proin odio consequat sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.</p>
    </header>
    <div class="container">
      <div class="row">
        <div *ngFor="let pr of planesRecent; let i = index" class="4u 12u(mobile)">
          <article *ngIf="i < 3" class="box style2">
            <a href="#" class="image featured">
              <div class="img-wrapper">
                <img src="{{pr.image}}" alt="" />
              </div>
            </a>
            <h3>
              <a href="#">{{pr.title}}</a>
            </h3>
            <p>{{pr.descriptionShort}}</p>
          </article>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let pr of planesRecent; let i = index" class="4u 12u(mobile)">
          <article *ngIf="i >= 3" class="box style2">
            <a href="#" class="image featured">
              <div class="img-wrapper">
                <img src="{{pr.image}}" alt="" />
              </div>
            </a>
            <h3>
              <a href="#">{{pr.title}}</a>
            </h3>
            <p>{{pr.descriptionShort}}</p>
          </article>
        </div>
      </div>

    </div>
    <footer>
      <p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
      <a href="#contact" class="button big scrolly">View more</a>
    </footer>
  </article>
</div>

<!-- Want to guide -->
<div class="wrapper style1 first" style="background: url(./assets/images/teach.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
  <article class="container" id="wantguide">
    <div class="row">
      <div class="4u 12u(mobile)">

      </div>
      <div class="8u 12u(mobile)">
        <header>
          <h1>
            <strong>Want to guide?</strong>.</h1>
        </header>
        <p>You can be a guide from,
          <strong>JoinUp</strong>
        </p>
        <a [scrollTo]="'#contact'" class="button big scrolly">Learn more</a>
      </div>
    </div>
  </article>
</div>

<!-- Contact -->
<div class="wrapper style4">
  <article id="contact" class="container 75%">
    <header>
      <h2>Have me make stuff for you.</h2>
      <p>Ornare nulla proin odio consequat sapien vestibulum ipsum sed lorem.</p>
    </header>
    <div>
      <div class="row">
        <div class="12u">
          <form method="post" action="#">
            <div>
              <div class="row">
                <div class="6u 12u(mobile)">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="6u 12u(mobile)">
                  <input type="text" name="email" id="email" placeholder="Email" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <input type="text" name="subject" id="subject" placeholder="Subject" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="row 200%">
                <div class="12u">
                  <ul class="actions">
                    <li>
                      <input type="submit" value="Send Message" />
                    </li>
                    <li>
                      <input type="reset" value="Clear Form" class="alt" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <hr />
          <h3>Find me on ...</h3>
          <ul class="social">
            <li>
              <a href="#" class="icon fa-twitter">
                <span class="label">Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-facebook">
                <span class="label">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-dribbble">
                <span class="label">Dribbble</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-tumblr">
                <span class="label">Tumblr</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-google-plus">
                <span class="label">Google+</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-github">
                <span class="label">Github</span>
              </a>
            </li>
            <!--
                  <li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
                  <li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
                  <li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
                  <li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
                  <li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
                  <li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
                  <li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
                  <li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
                  <li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
                  -->
          </ul>
          <hr />
        </div>
      </div>
    </div>
    <footer>
      <ul id="copyright">
        <li>&copy; Untitled. All rights reserved.</li>
        <li>Design:
          <a href="http://html5up.net">HTML5 UP</a>
        </li>
      </ul>
    </footer>
  </article>
</div>