
#nav {
    display: inline-block;
    position: fixed;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

/* resize images */
nav img {
    margin-top: 0.5%;
    width: 50px;
}


.example-container {
    background: #282828;
    margin-top: 1%;
    width: 10%;
    right: 5%;
    position: absolute;
}

.example-sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.example-sidenav {
  padding-top: 20%;
  padding-left: 5%;
  width: 50%;
  height: 80%;
  align-items: left;
  float: left;
  position: fixed;
  background: #282828;
  overflow-y: hidden;
}

.example-sidenav.example-sidenav2{
    width: 20%;
    overflow-y: visible;
    height: 75%;
}

.example-sidenav.example-sidenav2 ul{
    width: 97%;
    position: relative;
    left: -15em;
    top: -7em;
}

.example-sidenav.example-sidenav2 a.aLink{
    padding: 0.2em 0.2em 0.2em 1em;
    margin: 0.2em 0.01em 0.2em 13em;
    width: 60%;
}

mat-drawer a.aLink{
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.6em 0.2em 0.6em 0.2em;
    border-radius: 8px;
}

mat-drawer a.aLink:hover {
    color: #fff !important;
    background: #383838;
}

mat-drawer ul {
    margin-bottom: 0;
}

mat-drawer li {
    display: inline-block;
}

mat-drawer a.aLink.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    margin-left: -0.75em;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em #282828;
    background: #484848;
}


.another-sidenav {
    width: 13%;
    height: 60%;
    margin-top: 3.2em;
    align-items: left;
    float: left;
    position: fixed;
    background: #282828;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .app-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;  
    margin: 0;  
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: max-height,box-shadow;
}

.app-drawer-header .app-avatar {
    margin: auto;
    width: 150px;
    border-radius: 90px;
}

.app-drawer-header span{
    text-align: center;
}

.color-white{
    color: white;
    font-weight: 600;
}

.color-black{
    color: #FFFFF0;
}

.credit{
    color: #FFFFF0;
}


.wrapper style1 first #home{
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}
  
.a-card {
    margin: auto;
    max-width: 85%;
  }

.userImg {
    margin-left: 40%;
    background-size: cover;
    width: 50%;
    top: -1em;
    display: table-column;
    align-self: right;
    position: relative;
}

.userImg.peqimg{
    width:100%;
    margin: auto;
    top: -3em;
}

.titel{
    font-size: 36px;
    font-weight: 700;
    margin: auto;
    float: left;
    top:2em;
    left: 1em;
    color: #333333;
    display: table-cell;
    position: relative;
}

.titel.tclass1{
    font-size: 34px;
    left: 0.2em;
    top:1.2em;
}

.titel.tclass2{
    font-size: 30px;
    left: 0em;
    top:1.2em;
}

.titel.tclass3{
    font-size: 30px;
    left: 0.2em;
    top:9em;
}

.subtitl{
    float: left;
    display: table-cell;
    position: relative;
    top: 6em;
    left: -11.4em;
    margin:auto;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
}

.subtitl.stclass1{
    left: -12.2em;
    top:4.2em;
}

.subtitl.stclass2{
    font-size: 16px;
    left: -12.6em;
    top:4.2em;
}

.subtitl.stclass3{
    font-size: 16px;
    left: -12.2em;
    top:19em;
}

.furtherinfo{
    width: 40%;
    position: relative;
    top:-24em;
    left: 1em;
    display: table-cell;
    float: left;
    border-top: 1px solid #dedede;
}

.profile-list{
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    list-style: none;   
}

.profile-list .title{
    display:block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
}

.profile-list .cont{
    display:block;
    float: left;
    color: #747474;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.othertitle{
    display:block;
    width: 100%;
    top: 0.2em;
    left: 0.8em;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
}

.obj{
    text-align: justify;
    text-justify: inter-word;
    display:block;
    width: 90%;
    position: relative;
    left: 0.8em;
    text-indent: 10%;
    font-size: -15px;
    font-weight: 400;
    line-height: 20px;
    color: #747474;
    margin-bottom: 0.2em; 
}

#int{
    top: 0.1em;
    position: relative;
}

.furtherinfo.class1{
    top: -19.5em;
}

.furtherinfo.class2{
    top: -215px;
    font-size: 12px !important;
}

.furtherinfo.class3{
    top: 25px;
    font-size: 12px !important;
    width: 100%;
    left: -0.5em
}

.edit{
    position: relative;
    left: -16em;
    top: 3.2em;
    color: #282828;
}

.edit:hover{
    color: #DF355B;
}
.edit.edit1{
    left: -13em;
    top: 1.9em;
}
.edit.edit2{
    left: -11.3em;
    top: 1.6em;
}

.edit.edit3{
    left: -4em;
    top: 10.6em;
}

.wrapper.style4.justfooter{
    height: 30%;
    padding: 1em 0 4em 0;
}

.calendarbt{
    position: relative;
    top: -3em;
    left: 11em;
    padding-bottom: 0px;
}

#bday{
    margin-bottom: -2em;
}

#profilep{
    height: 16em;
    margin: auto !important;
}

#failinput{
    width: 50% !important;
    margin: auto !important;
}

#pict{
    margin: auto !important;
}

#file_input_file{
    display: none;
}

.uploadfile{
    width: 10%;
    position: relative;
    top: 3.2em;
    left: 34em;
}

.upicon:hover{
    color: #43bff0;
}

#confirmb{
    background-color: #43B3E0 !important;
    font-size: 1.1em;
}

#cancelbt{
    background-color: #444444 !important;
    font-size: 1.1em;
}