<!-- Nav -->
<nav id="nav">
  <img class="logo" src="assets/images/logo.png" />
  <div fxShow="true" fxHide.lt-md="true">
    <ul class="container">
      <li>
        <a pageScroll  [routerLink]="['/home', userId]" href="#home">Home</a>
      </li>
      <li>
        <a pageScroll [routerLink]="['/home', userId]" href="#social">Social Plans</a>
      </li>
      <li>
        <a pageScroll [routerLink]="['/home', userId]" href="#wantguide">Recent Plans</a>
      </li>
      <li>
        <a pageScroll [routerLink]="['/home', userId]" href="#contact">I want to guide</a>
      </li>
      <li>
        <a pageScroll [routerLink]="['/home', userId]" href="#contacto">Contact</a>
      </li>
      <li>
        <a *ngIf="!userId" [routerLink]="['/login']">Login or Signup</a>
        <a *ngIf="userId" (click)="profile.toggle()">Me</a>     
      </li>
    </ul>   
  </div>

  <mat-drawer #profile class="another-sidenav" mode="side">
    <header class="app-drawer-header primary-background">
        <img *ngIf="userObject" src="{{userObject.photo}}" class="app-avatar">
        <span *ngIf="userObject" class="color-white">{{userObject.name}}</span>
        <span *ngIf="userObject" class="color-black">{{userObject.rol}}</span>
        <span *ngIf="userObject" class="color-black">Lv4</span>
        <span *ngIf="userObject" class="credit">Credit: $0.00</span>
      </header>
    <ul class="theul">
      <li>
        <a href="javascript:void(0)" [routerLink]="['/profile', userId]">See Profile</a>
      </li>
      <li>
        <a *ngIf="userId" (click)="signout()">Sign Out</a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="['/profile', userId]">See Activities</a>
      </li>
    </ul>
  </mat-drawer>
   
  <div fxShow="true" fxHide.gt-sm="true" class="example">    
    <mat-drawer-container class="example-container" autosize>    
      <div class="example-sidenav-content">
        <a (click)="drawer.toggle()">
          <mat-icon aria-label="Menu icon">menu</mat-icon>
        </a>
      </div>
    
    </mat-drawer-container>
  </div>

</nav>

<mat-drawer #drawer class="example-sidenav" mode="side" fxHide.gt-sm="true">
  <ul class="container">
    <li>
      <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#home">Home</a>
    </li>
    <li>
      <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#social">Social Plans</a>
    </li>
    <li>
      <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#wantguide">Recent Plans</a>
    </li>
    <li>
      <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#contact">I want to guide</a>
    </li>
    <li>
      <a class="aLink" pageScroll [routerLink]="['/home', userId]" href="#contacto">Contact</a>
    </li>
    <li>
      <a *ngIf="!userId" class="aLink" [routerLink]="['/login']">Login or Signup</a>
      <a *ngIf="userId" class="aLink" (click)="signout()">Sign Out</a>
      <a *ngIf="userId" [routerLink]="['/profile', userId]">See Profile</a>
    </li>
  </ul>
</mat-drawer>

<!-- Home -->
<div id="home" class="wrapper style1 first" style="background: url(./assets/images/background.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
  <mat-card class="a-card" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch">
    <mat-card-content ngClass.xs="mccsm" ngClass.sm="mccpeq">
      <h1 class="titel" ngClass.md="tclass1" ngClass.sm="tclass2" ngClass.xs="tclass3" *ngIf="userObject">{{userObject.name}} {{userObject.lastName}}</h1>
      <h2 class="subtitl" ngClass.md="stclass1" ngClass.sm="stclass2" ngClass.xs="stclass3" *ngIf="userObject">{{userObject.rol}}</h2>
      <mat-icon class="edit" ngClass.md="edit1" ngClass.sm="edit2" ngClass.xs="edit3">mode edit</mat-icon>
      <img class="userImg" ngClass.xs="peqimg" *ngIf="userObject" src="{{userObject.photo}}" alt="User picture">
      <div class="furtherinfo" ngClass.md="class1" ngClass.xs="class3" ngClass.sm="class2">
        <ul class="profile-list">
          <li class="clearfix">
              <strong class="title">Age</strong>
              <span class="cont">29</span>
          </li>
          <li class="clearfix">
              <strong class="title">Location</strong>
              <span class="cont">Brussels</span>
          </li>
          <li class="clearfix">
              <strong class="title">E-mail</strong>
              <span class="cont"><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
          </li>
          <li class="clearfix">
              <strong class="title">Phone</strong>
              <span class="cont"><a href="tel:+12562548456">+1 256 254 84 56</a></span>
          </li>
          <li class="clearfix">
            <strong class="title">Gender</strong>
            <span class="cont">F</span>
          </li>
          <li class="clearfix">
            <strong class="title">Ocupation</strong>
            <span class="cont">Student</span>
          </li>
          <li class="clearfix">
            <strong class="title">Credit</strong>
            <span class="cont">$0.00</span>
          </li>
        </ul>
        <p><strong class="othertitle">Objective</strong></p>
        <p class="obj">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
        <p><strong class="othertitle" id="int">Interests</strong></p>
        <p class="obj">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
        <p><strong class="othertitle" id="int">Activity Types</strong></p>
        <p class="obj">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </div>
    </mat-card-content>
  </mat-card>  
</div>


<!-- Contact -->
<div class="wrapper style4">
  <article id="contact" class="container 75%">
    <header>
      <h2>Have me make stuff for you.</h2>
      <p>Ornare nulla proin odio consequat sapien vestibulum ipsum sed lorem.</p>
    </header>
    <div>
      <div class="row">
        <div class="12u">
          <form method="post" action="#">
            <div>
              <div class="row">
                <div class="6u 12u(mobile)">
                  <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="6u 12u(mobile)">
                  <input type="text" name="email" id="email" placeholder="Email" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <input type="text" name="subject" id="subject" placeholder="Subject" />
                </div>
              </div>
              <div class="row">
                <div class="12u">
                  <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="row 200%">
                <div class="12u">
                  <ul class="actions">
                    <li>
                      <input type="submit" value="Send Message" />
                    </li>
                    <li>
                      <input type="reset" value="Clear Form" class="alt" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <hr />
          <h3>Find me on ...</h3>
          <ul class="social">
            <li>
              <a href="#" class="icon fa-twitter">
                <span class="label">Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-facebook">
                <span class="label">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-dribbble">
                <span class="label">Dribbble</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-tumblr">
                <span class="label">Tumblr</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-google-plus">
                <span class="label">Google+</span>
              </a>
            </li>
            <li>
              <a href="#" class="icon fa-github">
                <span class="label">Github</span>
              </a>
            </li>
            <!--
                  <li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
                  <li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
                  <li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
                  <li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
                  <li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
                  <li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
                  <li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
                  <li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
                  <li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
                  -->
          </ul>
          <hr />
        </div>
      </div>
    </div>
    <footer>
      <ul id="copyright">
        <li>&copy; Untitled. All rights reserved.</li>
        <li>Design:
          <a href="http://html5up.net">HTML5 UP</a>
        </li>
      </ul>
    </footer>
  </article>
</div>